.gallowsContainer {
  position: relative;
  height: 250px;
  width: 230px;
}

.gallowsBase {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50%;
  height: 5px;
  background: black;
}

.gallowsPole {
  position: absolute;
  bottom: 0px;
  left: calc(25% - 5px);
  width: 5px;
  height: 100%;
  background: black;
}

.gallowsHanger {
  position: absolute;
  top: 0px;
  left: 25%;
  width: 30%;
  height: 5px;
  background: black;
}

.gallowsHangerEnd {
  position: absolute;
  top: 0px;
  left: 55%;
  width: 5px;
  height: 25px;
  background: black;
}

.bodyHead {
  position: absolute;
  top: 25px;
  left: calc(55% - 17.5px);
  width: 30px;
  height: 30px;
  border: 5px solid black;
  border-radius: 50%;
}

.topBody {
  position: absolute;
  top: 65px;
  left: 55%;
  width: 5px;
  height: 70px;
  background: black;
}

.leftArm {
  position: absolute;
  top: 75px;
  left: 55%;
  width: 5px;
  height: 45px;
  background: black;
  transform-origin: top;
  transform: rotateZ(25deg);
}

.rightArm {
  position: absolute;
  top: 75px;
  left: 55%;
  width: 5px;
  height: 45px;
  background: black;
  transform-origin: top;
  transform: rotateZ(-25deg);
}

.leftLeg {
  position: absolute;
  top: 135px;
  left: 55%;
  width: 5px;
  height: 45px;
  background: black;
  transform-origin: top;
  transform: rotateZ(25deg);
}

.rightLeg {
  position: absolute;
  top: 135px;
  left: 55%;
  width: 5px;
  height: 45px;
  background: black;
  transform-origin: top;
  transform: rotateZ(-25deg);
}
