.keyboardContainer {
  display: flex;
  width: 100%;
  max-width: 625px;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.btn {
  width: 55px;
  border: 0;
  background: #32363a;
  aspect-ratio: 1 / 1;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border-radius: 20%;
  box-shadow: 3px 3px 0 rgba(59, 63, 68, 0.9), inset -2px -2px 5px #131313;
}

.btn.active:active {
  box-shadow: 0px 0px 0 rgba(59, 63, 68, 0.9), inset -4px -4px 10px #131313;
  transform: translate(2px, 2px);
  transition: 0.2s;
}

.btn.active {
  /* background-color: hsl(200, 100%, 50%); */
  /* color: white; */
}

.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  /* background-color: hsl(200, 100%, 75%); */
}
